{# {% extends "@bootstrap_barrio/layout/page.html.twig" %} #}

{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}

<div id="page-wrapper">
  <div id="page">

    {# Sidebar hamburger collapse menu #}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 id="offcanvasRightLabel">Stenungsunds BTF</h5>
        <div></div> {# Help with flexbox alignment #}
      </div>
      <div class="offcanvas-body">
        <div class="menu-list" style="">
          {{ page.top_header }}
        </div>
        <div class="login-list" style="">
          {{ page.top_header_form }}
        </div>
      </div>
    </div>

    {# Main navbar #}
    <nav id="navbar-top" class="navbar navbar-expand-xl">
      <div class="container-fluid">
        <div class="ml-auto" style="">
          {{ page.secondary_menu }}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            {# Div to help flexbox alignment  #}
            <div></div>
            <div class="menu-list" style="">
              {{ page.top_header }}
            </div>
            <div class="login-list" style="">
              {{ page.top_header_form }}
            </div>
      </div>
    </nav>

    {# Image Banner #}
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
    {% block head %}

      <div class="masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="fw-bold">Stenungsunds BTF</h1>
              <p class="fw-bold lead">Bordtennis för alla!</p>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}
    </header>


    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="{{ container }} section clearfix" role="complementary">
        {{ page.highlighted }}
        </aside>
      </div>
      {% endif %}
    {% if page.featured_top %}
      {% block featured %}
        <div class="featured-top">
          <aside class="featured-top__inner section {{ container }} clearfix" role="complementary">
          {{ page.featured_top }}
          </aside>
        </div>
      {% endblock %}
    {% endif %}

    <div id="main-wrapper" class="layout-main-wrapper clearfix">
    {% block content %}
      <div id="main" class="{{ container }}">
        {{ page.breadcrumb }}
        <div class="row row-offcanvas row-offcanvas-left clearfix">
          <main{{ content_attributes }}>

            <section class="intro section">
              <h2>Välkommen till Stenungsunds BTF!</h2>
              <div>
                <div class="card">
                  <img class="card-img-top" src="/themes/pingpong/images/training.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Pingisskolan</h5>
                    <p class="card-text">{{ drupal_entity('block_content', 6) }}</p>
                    </div>
                  </div>
                <div class="card">
                  <img class="card-img-top" src="/themes/pingpong/images/comp.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Fortsättningsgruppen</h5>
                    <p class="card-text">{{ drupal_entity('block_content', 7) }}</p>
                    </div>
                  </div>
                <div class="card">
                  <img class="card-img-top" src="/themes/pingpong/images/clothes.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Klubbkläder</h5>
                    <p class="card-text">{{ drupal_entity('block_content', 8) }}</p>
                    <a href="/sv/info/klubbklader" class="btn btn-secondary">Läs mer</a>
                  </div>
                </div>
              </div>
               
            </section>

            <section class="section news">
              <a id="main-content" tabindex="-1"></a>
              {{ page.content }}
              <a class="more-link" href="/sv/nyheter">Se äldre nyheter</a>
            </section>
          </main>
          {% if page.sidebar_first %}
            <div{{ sidebar_first_attributes }}>
              <aside class="section" role="complementary">
                {{ page.sidebar_first }}
              </aside>
            </div>
          {% endif %}
          {% if page.sidebar_second %}
            <div{{ sidebar_second_attributes }}>
              <aside class="section" role="complementary">
                {{ page.sidebar_second }}
              </aside>
            </div>
          {% endif %}
        </div>
      </div>      

    {% endblock %}
    </div>

    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="{{ container }} clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          <a class="more-link" href="/sv/kalender">Fler Händelser</a>

          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
        <div class="sponsors container">
          <h2>Våra Sponsorer</h2>
          <div>

            {# Sydsport #}
            <a href="https://www.sydsport.com/klubbshopen/stenungsund/">
              <svg
                 width="100%"
                 height="100%"
                 viewBox="0 0 2366.1784 1339.7717"
                 version="1.1"
                 id="svg21"
                 sodipodi:docname="sydsport.svg"
                 inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:svg="http://www.w3.org/2000/svg">
                <defs
                   id="defs25" />
                <sodipodi:namedview
                   id="namedview23"
                   pagecolor="#ffffff"
                   bordercolor="#666666"
                   borderopacity="1.0"
                   inkscape:pageshadow="2"
                   inkscape:pageopacity="0.0"
                   inkscape:pagecheckerboard="0"
                   showgrid="false"
                   inkscape:zoom="2.4169884"
                   inkscape:cx="56.888978"
                   inkscape:cy="88.333067"
                   inkscape:window-width="1920"
                   inkscape:window-height="1001"
                   inkscape:window-x="-9"
                   inkscape:window-y="-9"
                   inkscape:window-maximized="1"
                   inkscape:current-layer="svg21" />
                <g
                   id="l15V0R07OQ6vbOkQOH4H2v1"
                   fill="rgb(255,255,255)"
                   style="fill:#000000"
                   transform="translate(-118.4576,-89)">
                  <g
                     style="fill:#000000"
                     id="g18">
                    <path
                       id="p7zPVfI6e"
                       d="m 971,1417 c -51,-26 -50,-77 2,-77 19,0 19,1 4,18 -30,33 18,56 64,32 15,-9 19,-22 19,-67 v -56 l -22,20 c -69,62 -102,50 -94,-35 2,-29 7,-57 11,-60 13,-14 24,25 18,66 -6,41 -5,44 13,34 32,-17 74,-60 74,-77 0,-8 7,-15 15,-15 12,0 15,17 15,90 0,83 -2,93 -25,115 -27,27 -57,31 -94,12 z"
                       style="fill:#000000" />
                    <path
                       id="poGdaVk6o"
                       d="m 1440,1321 c 0,-84 -1,-89 -20,-84 -30,8 -25,-21 5,-35 21,-10 33,-9 64,8 39,19 51,36 51,70 0,22 -26,39 -50,33 -14,-4 -18,5 -24,46 -11,82 -26,60 -26,-38 z m 70,-49 c 0,-19 -18,-42 -32,-42 -4,0 -8,14 -8,30 0,23 4,30 20,30 13,0 20,-7 20,-18 z"
                       style="fill:#000000" />
                    <path
                       id="py7x2awro"
                       d="m 1567,1323 c -11,-11 -8,-52 7,-88 11,-26 21,-35 39,-35 29,0 57,29 57,57 0,38 -80,89 -103,66 z m 63,-38 c 13,-16 6,-65 -9,-65 -8,0 -41,60 -41,74 0,12 38,5 50,-9 z"
                       style="fill:#000000" />
                    <path
                       id="p1HAB3H9Xo"
                       d="m 1699,1323 c 0,-4 -3,-34 -5,-65 -4,-40 -1,-58 6,-58 7,0 14,9 17,20 5,19 7,20 24,4 10,-9 29,-17 42,-18 20,-1 24,-5 21,-23 -3,-16 1,-23 11,-23 9,0 15,9 15,25 0,22 4,25 36,25 21,0 33,4 29,10 -3,6 -19,10 -36,10 -26,0 -29,3 -29,31 0,27 3,30 27,27 35,-4 42,19 8,28 -33,8 -55,-11 -59,-52 -6,-54 -62,-35 -75,26 -6,30 -30,55 -32,33 z"
                       style="fill:#000000" />
                    <path
                       id="pCajCkoK5"
                       d="m 2111,1316 c -15,-18 -8,-58 15,-93 32,-50 106,-7 85,49 -17,46 -77,72 -100,44 z m 63,-32 c 20,-19 20,-38 2,-53 -12,-10 -18,-7 -30,18 -9,16 -16,35 -16,41 0,15 26,12 44,-6 z"
                       style="fill:#000000" />
                    <path
                       id="psvvDbMMP"
                       d="m 132,1260 c -12,-34 -17,-62 -11,-65 16,-11 26,4 33,47 l 7,43 20,-37 c 24,-46 37,-48 50,-8 15,40 27,38 47,-9 12,-28 22,-38 39,-38 18,0 25,8 33,38 6,22 13,39 15,39 3,0 11,-13 20,-30 9,-16 20,-30 26,-30 5,0 15,14 20,30 6,17 14,30 18,30 8,0 46,-62 43,-70 -1,-3 8,-5 21,-5 16,0 25,9 32,32 15,46 21,48 36,14 17,-39 33,-39 49,-1 7,17 15,30 18,30 11,0 31,-36 32,-57 0,-14 6,-23 15,-23 8,0 15,7 15,16 0,20 -50,114 -61,114 -5,0 -16,-14 -24,-30 -17,-34 -31,-31 -46,7 -13,35 -30,24 -48,-30 l -16,-47 -28,50 c -16,28 -32,50 -37,50 -5,0 -16,-13 -25,-30 -9,-16 -18,-30 -20,-30 -2,0 -12,14 -20,31 -21,40 -35,33 -54,-24 l -16,-47 -28,50 c -16,28 -32,50 -36,50 -5,0 -14,-13 -21,-30 -7,-16 -16,-30 -21,-30 -5,0 -15,14 -24,30 -9,17 -19,30 -24,30 -5,0 -18,-27 -29,-60 z"
                       style="fill:#000000" />
                    <path
                       id="pC2hd64K3"
                       d="m 730,1306 c 0,-10 9,-16 21,-16 24,0 21,23 -4,28 -10,2 -17,-3 -17,-12 z"
                       style="fill:#000000" />
                    <path
                       id="pMUvCZns0"
                       d="m 790,1305 c 0,-12 8,-14 40,-9 47,8 56,-11 10,-21 -35,-8 -49,-40 -27,-62 18,-18 78,-22 84,-5 3,7 -4,12 -15,12 -27,0 -52,10 -52,21 0,4 18,13 40,19 28,8 40,16 40,29 0,23 -19,31 -76,31 -33,0 -44,-4 -44,-15 z"
                       style="fill:#000000" />
                    <path
                       id="pj2AVJsYY"
                       d="m 1127,1306 c -7,-17 10,-85 26,-104 6,-8 24,-12 44,-10 32,4 33,3 33,-30 0,-23 4,-32 13,-29 8,3 11,25 9,77 -2,52 1,75 10,81 10,6 10,11 1,20 -15,15 -33,3 -33,-23 0,-21 -1,-21 -28,5 -31,29 -67,35 -75,13 z m 63,-40 c 13,-14 20,-32 17,-40 -8,-22 -36,-9 -48,21 -19,49 -6,57 31,19 z"
                       style="fill:#000000" />
                    <path
                       id="pGsspDVzH"
                       d="m 1287,1313 c -17,-16 -4,-23 33,-17 47,8 53,-7 10,-23 -36,-14 -48,-39 -28,-60 19,-18 79,-23 85,-5 3,7 -4,12 -15,12 -26,0 -52,10 -52,19 0,5 18,13 40,20 48,14 59,30 35,48 -19,13 -96,18 -108,6 z"
                       style="fill:#000000" />
                    <path
                       id="piTPdEE3c"
                       d="m 1917,1314 c -9,-10 2,-24 19,-24 8,0 14,7 14,15 0,15 -21,21 -33,9 z"
                       style="fill:#000000" />
                    <path
                       id="pdZkLut8y"
                       d="m 1990,1305 c -15,-18 -6,-78 15,-95 22,-18 60,-8 63,18 4,24 -22,32 -31,10 -7,-17 -27,9 -27,35 0,22 33,23 54,1 9,-8 22,-14 28,-12 20,7 -38,58 -65,58 -14,0 -30,-7 -37,-15 z"
                       style="fill:#000000" />
                    <path
                       id="pM3VcTDNc"
                       d="m 2240,1260 c 0,-47 3,-60 15,-60 10,0 15,10 15,28 l 1,27 20,-27 c 11,-16 27,-28 35,-28 16,0 34,38 27,58 -10,25 13,11 36,-23 28,-42 47,-41 43,3 -4,41 5,57 24,41 11,-9 18,-9 25,-2 8,8 3,16 -17,29 -27,18 -27,18 -47,-8 l -20,-26 -22,26 c -27,31 -45,22 -45,-24 0,-19 -3,-34 -7,-34 -5,0 -21,18 -36,40 -16,22 -33,40 -38,40 -5,0 -9,-27 -9,-60 z"
                       style="fill:#000000" />
                    <path
                       id="p4YgUFrgf"
                       d="m 745,1044 -80,-21 -3,-166 -2,-167 -38,42 c -65,73 -100,82 -314,86 l -188,4 v -81 -81 h 144 c 156,0 196,-8 196,-39 0,-25 -24,-44 -155,-116 -60,-33 -126,-76 -147,-96 -36,-34 -38,-39 -38,-100 0,-83 35,-144 106,-185 48,-28 50,-29 236,-30 113,-2 190,2 194,7 3,6 3,41 -1,80 l -7,69 H 510 c -161,0 -193,8 -188,46 3,23 22,38 130,98 136,77 161,95 189,141 l 19,30 v -40 c 1,-83 56,-156 150,-198 69,-32 197,-29 270,4 64,30 104,67 132,123 l 21,40 19,-42 c 27,-56 97,-117 160,-138 74,-24 197,-16 264,19 53,27 107,80 119,116 9,30 19,26 33,-13 27,-75 126,-126 244,-126 h 58 V 200 90 h 90 90 v 110 110 h 65 65 v 70 70 h -71 -71 l 4,106 c 4,121 6,124 86,124 h 52 v 71 71 l -97,-4 c -113,-5 -165,-24 -194,-72 -16,-26 -19,-52 -19,-170 V 438 l -37,6 c -55,10 -91,26 -99,44 -4,10 -8,87 -8,172 l -1,155 -88,3 -87,3 v -88 -87 l -29,46 c -56,89 -137,131 -251,131 -116,1 -213,-50 -269,-140 l -29,-46 -6,30 c -9,37 -67,108 -107,129 -51,26 -126,35 -198,23 -36,-5 -69,-15 -73,-22 -4,-7 -8,-41 -8,-76 0,-61 1,-63 23,-57 128,36 193,2 191,-101 -1,-33 -7,-51 -26,-69 -50,-50 -143,-40 -176,20 -14,26 -18,71 -22,291 l -5,260 z m 845,-362 c 88,-43 93,-189 8,-242 -48,-31 -128,-24 -167,14 -35,34 -52,93 -41,142 20,86 116,128 200,86 z"
                       style="fill:#000000" />
                    <path
                       id="pcnJHZaVu"
                       d="m 780,260 c -10,-19 -8,-20 100,-20 67,0 110,-4 110,-10 0,-6 -39,-10 -98,-10 -63,0 -102,-4 -110,-12 -18,-18 -15,-83 5,-99 23,-20 322,-27 334,-7 19,30 8,33 -96,30 -70,-2 -105,0 -105,7 0,7 33,11 91,11 112,0 129,8 129,60 0,64 -18,70 -197,70 -142,0 -153,-1 -163,-20 z"
                       style="fill:#000000" />
                    <path
                       id="psUAnVO51"
                       d="m 1296,243 c 5,-37 3,-39 -71,-93 l -77,-55 92,-3 91,-3 41,36 c 23,19 47,35 53,35 6,0 26,-16 45,-35 l 35,-34 h 215 c 140,0 227,4 250,12 35,12 35,12 38,78 4,95 7,93 -220,97 -187,4 -189,3 -179,-17 13,-24 14,-130 1,-151 -8,-12 -14,-11 -42,10 -18,13 -52,38 -76,54 -39,29 -42,34 -38,69 l 4,37 h -83 -83 z m 564,-58 v -55 h -50 -50 v 55 55 h 50 50 z"
                       style="fill:#000000" />
                  </g>
                </g>
              </svg>
            </a>

            {# Stiga #}
            <a href="https://www.stigasports.com/sv/category/table-tennis">
              <svg
                 width="100%"
                 height="100%"
                 viewBox="0 0 4480 1280"
                 version="1.1"
                 sodipodi:docname="stiga.svg"
                 inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:svg="http://www.w3.org/2000/svg">
                <defs
                   id="defs18" />
                <sodipodi:namedview
                   id="namedview16"
                   pagecolor="#ffffff"
                   bordercolor="#666666"
                   borderopacity="1.0"
                   inkscape:pageshadow="2"
                   inkscape:pageopacity="0.0"
                   inkscape:pagecheckerboard="0"
                   showgrid="false"
                   inkscape:zoom="0.69866072"
                   inkscape:cx="133.82748"
                   inkscape:cy="-148.14057"
                   inkscape:window-width="1920"
                   inkscape:window-height="1001"
                   inkscape:window-x="-9"
                   inkscape:window-y="-9"
                   inkscape:window-maximized="1"
                   inkscape:current-layer="outputsvg" />
                <g
                   id="l1goHQPJbotRJqasPgMDEEC"
                   fill="rgb(0,0,0)"
                   style="transform: none;">
                  <g
                     style="transform: none;"
                     id="g4">
                    <path
                       id="pYdspayvT"
                       d="M0 640 l0 -640 2240 0 2240 0 0 640 0 640 -2240 0 -2240 0 0 -640z m366 349 c76 -29 164 -98 252 -199 193 -221 271 -298 334 -329 33 -17 69 -31 80 -31 13 0 18 -8 19 -27 2 -122 2 -164 -3 -168 -9 -10 -123 26 -182 58 -69 36 -167 130 -305 292 -113 131 -182 188 -251 206 l-50 13 0 109 0 109 25 -6 c14 -4 51 -16 81 -27z m1232 -276 l2 -293 80 0 80 0 0 -95 0 -95 -270 0 -270 0 0 95 0 94 83 3 82 3 3 293 2 293 103 -3 102 -3 3 -292z m567 -93 l0 -385 -102 -3 -103 -3 0 391 0 391 103 -3 102 -3 0 -385z m713 362 c75 -29 139 -78 188 -144 50 -68 87 -174 82 -234 l-3 -39 -175 0 -175 0 0 55 0 55 78 3 78 3 -3 41 c-3 34 -9 45 -46 72 -43 30 -47 31 -147 31 -99 0 -105 -1 -146 -30 -54 -38 -82 -93 -87 -170 -7 -110 29 -185 109 -225 30 -16 59 -20 131 -20 l93 -1 38 -56 c37 -54 38 -58 20 -70 -36 -27 -124 -46 -186 -40 -206 19 -396 255 -356 445 33 162 135 278 294 335 60 21 139 17 213 -11z m664 -54 l3 -73 210 -3 210 -2 72 50 c68 48 127 79 181 95 22 6 22 6 22 -98 l0 -104 -62 -41 c-85 -55 -168 -142 -302 -313 -98 -127 -119 -147 -170 -174 -58 -29 -62 -30 -210 -30 l-151 0 -3 383 -2 382 99 0 100 0 3 -72z" />
                    <path
                       id="pmOSvilxP"
                       d="M3547 664 c-4 -4 -7 -61 -7 -126 l0 -118 53 0 c60 0 66 5 151 118 38 49 47 69 44 95 l-3 32 -116 3 c-63 1 -118 -1 -122 -4z" />
                  </g>
                </g>
                <g
                   id="l7lKudmjaRlIYi8Brak6h3"
                   fill="rgb(255,255,255)"
                   style="transform: none;">
                  <g
                     id="g12"
                     style="transform: none;">
                    <path
                       id="p5N99wTQF"
                       d="M230 913 l0 -139 50 -13 c69 -18 138 -75 251 -206 138 -162 236 -256 305 -292 66 -35 159 -63 211 -63 41 0 43 9 40 149 l-2 104 -42 12 c-96 29 -159 85 -395 355 -126 144 -242 216 -365 228 l-53 4 0 -139z" />
                    <path
                       id="pJAZEoYfZ"
                       d="M1358 748 l-3 -293 -82 -3 -83 -3 0 -124 0 -125 300 0 300 0 0 125 0 125 -80 0 -80 0 -2 293 -3 292 -132 3 -133 3 -2 -293z" />
                    <path
                       id="p5kWO3XV6"
                       d="M1930 620 l0 -421 133 3 132 3 0 415 0 415 -132 3 -133 3 0 -421z" />
                    <path
                       id="pPChithG0"
                       d="M2635 1023 c-165 -60 -268 -181 -297 -353 -31 -179 70 -369 241 -453 62 -30 72 -32 176 -32 100 0 116 3 173 29 34 16 62 32 62 37 0 4 -28 46 -62 94 -52 74 -64 85 -82 79 -12 -4 -49 -9 -82 -11 -48 -4 -70 0 -102 16 -135 69 -147 248 -23 336 38 27 51 30 116 30 66 0 77 -3 116 -31 24 -17 45 -36 47 -42 2 -7 -24 -12 -75 -14 l-78 -3 0 -85 0 -85 205 0 205 0 3 69 c8 177 -103 344 -272 409 -74 28 -206 33 -271 10z" />
                    <path
                       id="pp6FgsYCO"
                       d="M3432 1032 l-122 -3 2 -412 3 -412 181 0 180 0 59 30 c52 27 73 47 171 174 134 171 216 257 304 315 l65 43 0 134 0 134 -35 -3 c-65 -6 -132 -34 -220 -93 l-87 -59 -178 2 -178 3 -1 74 c-1 42 -5 75 -11 75 -5 1 -65 0 -133 -2z m321 -398 c6 -7 -64 -104 -111 -156 -14 -16 -36 -28 -49 -28 -22 0 -23 3 -23 88 0 49 3 92 7 95 8 9 168 9 176 1z" />
                  </g>
                </g>
              </svg>
            </a>

          </div>
        </div>
      </div>
    {% endif %}


    <footer class="site-footer">
      {{ page.footer_first }}
      {{ page.footer_second }}
    </footer>

   {#  <footer class="site-footer">
      {% block footer %}
      <div class="{{ container }}">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
           <div class="site-footer__top clearfix">
             {{ page.footer_first }}
             {{ page.footer_second }}
             {{ page.footer_third }}
             {{ page.footer_fourth }}
           </div>
        {% endif %}
        {% if page.footer_fifth %}
           <div class="site-footer__bottom">
             {{ page.footer_fifth }}
           </div>
        {% endif %}
      </div>
      {% endblock %}
    </footer> #}

  </div>
</div>